{% extends 'partials/base.html' %}

{% block content %}
<br>
<h3>Tables</h3>
<div class="row mt-5">
    <div class="col-md-6">
        <h4>Temperature Table</h4>
        <table class="table table-bordered table-striped">
            <thead style="background-color: rgb(92, 248, 183);color: black;">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Temperature</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in temperature_data %}
                <tr>
                    <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                    <td>{{ entry.temperature }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h4>Humidity Table</h4>
        <table class="table table-bordered table-striped">
            <thead style="background-color: rgb(248, 92, 92); color: black;">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Humidity</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in humidity_data %}
                <tr>
                    <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                    <td>{{ entry.humidity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <h4>CO2 Table</h4>
        <table class="table table-bordered table-striped">
            <thead style="background-color: rgb(248, 92, 92); color: black;">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in co2_data %}
                <tr>
                    <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                    <td>{{ entry.co2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <h4>LDR Table</h4>
        <table class="table table-bordered table-striped">
            <thead style="background-color: rgb(248, 92, 92); color: black;">
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">LDR</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in ldr_data %}
                <tr>
                    <td>{{ entry.timestamp|date:"H:i:s" }}</td>
                    <td>{{ entry.ldr }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
